<!-- <h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p> -->

<h1>Products</h1>

<% link_to "New_product", "/products/new" %>
	
	<%= @products.each do |product| %>
	<p>Product: <%= product.name %></p> 
	<p>Description: <%= product.description %><p>
	<p>Price: <%= product.price_in_cents %></p>
<% end %>

	